.productCard {
    width: 24%;
    cursor: pointer;
    @media (max-width:1000px) {
        width: 32%;
    }
    @media (max-width:570px) {
        width: 47%;
    }
    @media (max-width:570px) {
        width: 100%;
    }
    .productLink{
        .imgContainer {
            width: 100%;
            overflow: hidden;
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: .3s ease all;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
    .productInfo{
        text-align: center;
        .name {
            display: block;
            padding-top: 20px;
            color: #000;
            font-size: 18px;
            transition: .3s ease all;
            &:hover {
                text-decoration: underline;
            }
        }
        .details{
            padding: 10px 0;
        }
        .price {
            padding-top: 10px;
            font-weight: 400;
            color: #000;
        }
    }
}
